<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>CRUD Todo List FastAPI</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/all">All datas</a></li>
            <li><a href="/add">Add data</a></li>
        </ul>
    </nav>
    <main>
        {% block main %}
        <h1 class="h1">Welcome</h1>
        {% endblock main %}
    </main>
</body>
</html>
