{% extends "home.html" %}



{% block main %}
<a href="{% url 'home' %}" class="cyberpunk-link">Home</a>
<div class="cyberpunk-content">
<form method="post" action="{% url 'login' %}" class="cyberpunk-form">
    {% csrf_token %}
        <label for="id_username" class="cyberpunk-label">Username:</label>
        <input type="text" id="id_username" name="username" class="cyberpunk-input">

        <label for="id_password" class="cyberpunk-label">Password:</label>
        <input type="password" id="id_password" minlength="8" name="password" class="cyberpunk-input">

        <input type="submit" value="Login" class="cyberpunk-submit">

</form>
</div>
{% endblock %}