{% extends "tweet.html" %}

{% block main %}
<style>
    label{
      font-size: 1.8rem;
    }

    textarea {
      background: grey;
      resize: none;
    }
</style>
  <h1 class="main">Update post</h1>
  <form method="post" class="main">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control bg-secondary-subtle" id="title" name="title" value="{{ post.title }}">
    </div>
    <div class="form-group">
      <label for="desc">Description</label>
      <textarea class="form-control bg-secondary-subtle" id="desc" name="desc">{{ post.description }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Update post</button>
  </form>
{% endblock main %}
