<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <header>
        <div>
            <a href="/currencies/"><span>Exchange Rates</span></a>
        </div>
        <div>
            <a href="/add/">Add currencies</a>
        </div>
    </header>
    {% block form %}
    {% endblock form %}
    <main>
    {% block main %}
        <div></div>
    {% endblock main %}
    </main>
</body>
</html>